{% extends 'base.html' %}


{% block content %}    

<main class="container mx-auto mt-8 p-4 flex justify-between">
    <section class="p-6 w-1/2 mr-4">
        <div>
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Awaiting <span class="text-blue-600 dark:text-blue-500">Permission</span></h1>
            <br>
            <ul>
                {% for candidate in candidates %}
                <a href="{% url 'modify_permission' candidate.id%}">
                    <div class="relative mx-auto max-w-md rounded-lg bg-red-500 p-0.5 shadow-lg">
                        <div class="bg-white p-4 rounded-md">
                            <h1 class="font-bold text-xl mb-2">{{ candidate.username }}</h1>
                            <p>{{ candidate.value }}</p>
                            <p>{{ candidate.status }}</p>
                        </div>
                    </div>
                </a>
                <br>
                {% endfor %}
            </ul>
        </div>
    </section>
    
    <section class="p-6 w-1/2 ml-4">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Add New <span class="text-blue-600 dark:text-blue-500">Candidate</span></h1>
        <br><br>
                <form action="#" method="post">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Candidate</button>
                </form>
    </section>
</main>


{% endblock content %}
    